/* .d-flex{
  display: flex;
} */

/* .main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 2rem;
} */

.search{
  line-height: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container{
  display: flex;
  display: grid;
    grid-template-columns: 1fr;

  border: 1px solid red;
  row-gap: 0rem; 
  column-gap: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
  width: 80%;
  /* background-color: aqua; */
  height: auto;
  text-align: center;
  margin:0 auto;
}

.container > *{
  display: grid;
  grid-template-columns: 1fr 1fr;

  border: 1px solid red;
  color:00000;
  /* background-color: blueviolet; */
  text-decoration: none;
  padding: 2rem 0;
  font-weight: 700;
  font-size: 1.5rem;
  /* height: 50%; */
  justify-content: center;
}


.container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */

}

.background-img{
  background-image: url('../img/covid1.jpg');
  background-image: url('../img/covid1.jpg');
  height: 100vh;
}
/* .a-countries{
  border: 1px solid red;
  width: 80%;
  height: 100vh;
}

.a-countries>*{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.one-country{
  display: flex;
  flex-direction: column;
}

h1{
align-self: flex-end;}

.country{
align-self: center;
}

.d-flex{
  display: flex;
  background-color: brown;

}*/

.image_container{
  background-image: url('../img/virus.png');
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 10rem; */
  color: #ffffff;
  padding: 2rem 0;
  background-color:rgb(238, 65, 238);
}

.header-icon{
  margin: 0 2rem 0 0;
  font-size: 3rem;
}

.nav-header{
  /* margin: 0 2rem; */
  font-size: 2rem;
  padding: 0 2rem;
} 

